body {
	background:#000;
	font-family:verdana,arial, helvetica, sans-serif;
	font-size:0.7em;
	}
		
a:link {
	color:#FF0000;
	text-decoration:underline;
	}
	
a:hover {
	text-decoration:none;
	}
	
.close {
	margin-top:2em;
	}