body 

{

    margin:0px;

    background-color:Black;

}



img { border:0px; }



div { text-align:left; 

        font-family:Verdana; 

        font-size:12px; 

        color:#ffffff; 

      }



a:link, a:visited, a:active, a:hover { color:#ffffff; }



table td { text-align:left; padding:0px; vertical-align:top; }





#mainContainerDiv { width:991px; }

#headerDiv { width:100%; }



.biggertxt { font-size:15px; font-weight:bold; }