
body {
    background-color:#04326e;
    background-image:url(images/pattern.jpg);
    background-repeat:repeat-x;
    margin:0px;
}

img { border:0px; }

div { font-family:Verdana; font-size:11px; color:#454545;  }

a:hover, a:visited, a:link, a:active { color:Black; }

table td { vertical-align:top; text-align:left; }

#mainContainerDiv
{
    width:991px;
    overflow:hidden;
    text-align:left;
    background-color:White;
    
}


#privacyDiv
{
    color:White;
    text-align:left;    
    padding-top:50px;
    padding-left:20px;
    padding-right:20px;
    padding-bottom:35px;
    overflow:auto;
}




